body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
}

.game-container {
    border: 2px solid white;
}

canvas {
    background-color: black;
}
